<h1>Welcome to ProjectIt</h1>

<!-- Check if user is logged in -->
{{#if loggedIn}}
    <p>Welcome back, {{username}}!</p>
    <a href="/create-room">Create a new study room</a>
    <a href="/logout">Logout</a>
{{else}}
    
{{/if}}

<h2>Available Study Rooms:</h2>
<ul>
    {{#each studyRooms}}
        <li>
            {{!-- <a href="/studyroom/{{this.id}}">{{this.name}}</a> - Hosted by {{this.User.username}} --}}
            <p>{{this.name}} - Hosted by {{this.user.username}}</p> 
        </li>
    {{/each}}
</ul>

