<h1>Welcome to Virtual Study Group</h1>

<!-- Check if user is logged in -->
{{#if loggedIn}}
    <p>Welcome back, {{username}}!</p>
    <a href="/create-room">Create a new study room</a>
    <a href="/logout">Logout</a>
{{else}}
    
{{/if}}

<h2>Available Study Rooms:</h2>
<ul>
    {{#each rooms}}
        <li>
            <a href="/studyroom/{{this.id}}">{{this.topic}}</a> - Created by: {{this.User.username}}
        </li>
    {{/each}}
</ul>
